.es-add-contact.btn-action,
.es-add-contact.btn-primary {
	display: inline-block;
	margin-left: 20px;
}

.es-contact-thumbnail {
	display: flex;
	margin: 5px;
	box-sizing: border-box;
	align-items: flex-start;
}

.es-contact-thumbnail img {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	display: block;
}

.es-contact-thumbnail .es-contact-media {
	padding: 0 5px;
    box-sizing: border-box;
}


.es-contact-thumbnail .es-feedback-action {
	display: none;
	margin-left: 5px;
}

#body .es-contact-thumbnail:hover .es-feedback-action {
	display: initial;
}

.es-contact-thumbnail .es-image-wrapper {
	display: block;
}

.es-load-more-handle {
	text-align: center;
}

.es-load-more-handle a {
	display: block;
	width: 100%;
	cursor: pointer;
}

.es-saved-contact-list {
	clear: both;
}

.es-action {
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	text-decoration: none !important;
	text-align: center;
	width: auto;
	text-shadow: 0 1px 1px rgba(0,0,0,0.35);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 0 10px;
	height: 26px;
	line-height: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	color: #fff;
	background-color: #287bbc;
	border-color: #1b5480;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
	background-image: -webkit-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: -moz-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: -o-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: linear-gradient(top, #287bbc 0%,#23639a 100%);
	white-space: nowrap;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	vertical-align: middle;
	min-width: 120px;
}

.es-action:hover {
	background-color: #2672ae;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2672AE', endColorstr='#FF1E4F7E');
    background-image: -webkit-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
    background-image: -moz-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
    background-image: -o-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
    background-image: linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.es-saved-contact-list-container {
	background-color: white;
	width: 280px;
	box-shadow: 1px 1px 1px rgba(17, 17, 18, 0.2);
	padding: 5px;
	display: block;
}

.es-saved-contact-list {
	margin: 5px 0;
}

.es-saved-contact-list li {
	margin: 10px 0;
    font-size: 15px;
    border-bottom: 1px solid gainsboro;
}

.es-contact-cart {
	position: fixex;
}